html,
body {
    color: #333;
    height: 100%;
}

a,
a:visited,
a:focus {
    color: #1d805f;
}

.form-check-input:checked {
    background-color: #1d805f;
    border-color: #1d805f;
}

.btn-primary {
    background-color: #1d805f;
}

.btn-primary:focus,
.btn-primary:focus-within,
.btn-primary:focus-visible,
.btn-primary:hover {
    background-color: #00ab75;
}
